
ul {
    list-style: none;
}

li:before {
    content: "+";
}

li.chapter {

    size = 40 px;
    color = #582A72;
    margin-left = 50 px;
}

li.subchapter {

    size = 30 px;
    color = #582A72
    margin-left = 75 px;
}

li.paragraph {
    color = #582A72
    size = 20 px;
    margin-left = 100 px;


}