
body {
  padding-top: 50px;
  color: #CB5167;
  background: #DAD299; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #DAD299, #B0DAB9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #DAD299, #B0DAB9) no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#happybox {
  padding: 100px;
}

#happiness {
  color: #9F3F87;
  font-size: 4rem;
  padding-left: 30px;
}

h1 {
  font-size: 2.5rem;
}