// Hides big red asterisks from forms
.required label:after {
  content: "" !important;
}

#fixed-vertical.ui.menu {
  top: 4em;
  left: 1em;
  border-radius: 0.28571429rem !important;
}

#content {
  position: absolute;
  height: auto;
  top: 5rem;
  bottom: 0;
  left: 16rem;
  right: 0;
/*  margin-top: 47px;
  margin-left: 15rem;*/
}

#happybox {
  padding: 100px;
}

#happiness {
  color: #9F3F87;
  font-size: 4rem;
  padding-left: 30px;
}
