
body {
    padding-top: 50px;
    color: #CB5167
}

.hippo {
    background: url("images/hippo.png") no-repeat;
    background-size: 1000px;
}

#happybox {
    padding: 100px;
}

#happiness {
    color: #9F3F87;
    font-size: 4rem;
    padding-left: 30px;
}

h1 {
    font-size: 2.5rem;
}